* {
    margin: 0;
    padding: 0;
    transition: 0.4s;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.main {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    background-image: url(/assets/img/background.png);

}

.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    gap: clamp(30px, 6vw, 60px);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.azul {
    background-color: #159F9F;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 10px;
}

.rosa {
    background-color: #B81265;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 10px;
}

.logo {
    height: clamp(40px, 59px, 60px);
    width: auto;
    display: block;

}

/* header--------------------------------------------------------------------------------------------------------------------------------------------- */



#prom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.sprom {

    height: 80vh;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ffffff;


}

.shoe {

    display: flex;
    justify-content: center;
    align-items: center;

}

.txt1 {
    font-size: 50px;
    font-weight: 300;
    margin-left: 7%;
    margin-top: 7%;
}

#txt2 {
    font-size: 90px;
    margin-left: 6%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.selects {
    /* margin-left: 20%; */
    display: flex;
    width: 80%;
    justify-content: space-between;
}

#size {
    width: 140px;
    height: 5vh;
}

.sizet {
    font-size: 25px;

}

#quant {
    width: 140px;
    height: 5vh;
}

.quantt {
    font-size: 25px;

}


.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 7%;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #159F9F, #B81265);
    position: absolute;
    top: -5px;
    left: -5px;
    background-size: 800%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    animation: glowing 11s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #ffffff
}



.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


.star {
    font-size: 70px;
    cursor: pointer;
    color: #000000;
    /* Cor inicial da estrela (cinza) */
    transition: color 0.2s ease-in-out;
    margin-left: 10%;

}

.star.yellow {
    color: #ffd700;
    /* Cor amarela quando a classe .yellow é adicionada */
}


.modal {
    display: none;
    /* Esconde o modal por padrão */
    position: fixed;
    /* Posição fixa na tela */
    z-index: 1;
    /* Fica acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    /* Fundo semi-transparente */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    /* Largura máxima para telas maiores */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Animação para o modal aparecer */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
}


/* Estilo para o botão que abre o modal */
#openModalBtn {
    font-size: 16px;
    padding: 10px 15px;
}

#closeModalButton2 {

    width: 80px;
    height: 30px;
    margin-top: 5%;
    background-color: #fff;
    border-radius: 50px;

}



/* rodape--------------------------------------------------------------------------------------- */


.rodape {
    width: 100%;
    height: 40vh;
    background-color: #c5c5c5;
}

.rlogo {
    height: 10vh;
}

.r1 {
    padding-top: 2%;
    margin-left: 10%;
}

.r2 {
    font-size: 20px;
    padding-top: 2%;
    margin-left: 10%;

}

.r3 {
    font-size: 20px;
    padding-top: 2%;
    margin-left: 10%;
    color: aliceblue;

}

.r2 a {
    text-decoration: none;
    color: aliceblue;
}

.nome {
    display: inline-block;
    font-size: 20px;
    color: aliceblue;
    padding-top: 30px;
    vertical-align: top;
    margin-left: 2%;
}