* {
    margin: 0;
    padding: 0;
    transition: 0.4s;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
}



.main a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.main {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;

}

.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    gap: clamp(30px, 6vw, 60px);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.azul {
    background-color: #159F9F;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 10px;
}

.rosa {
    background-color: #B81265;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 10px;
}

.logo {
    height: clamp(40px, 60px, 60px);
    width: auto;
    display: block;

}

.promo {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* mapa-------------------------------------------------------------------------------- */


.map{
    height: 100vh;
    width: 100%;
}

.mapa-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.mapa-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
    z-index: 0;
   
}

.conteudo {
    margin-left: 30%;
    width: 40%;
    height: 20vh;
    position: relative;
    top: 60vh;
    z-index: 1;
    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}




/* rodape--------------------------------------------------------------------------------------- */



.rodape {
    width: 100%;
    height: 40vh;
    background-color: #c5c5c5;
}

.rlogo {
    height: 10vh;
}

.r1 {
    padding-top: 2%;
    margin-left: 10%;
}

.r2 {
    font-size: 20px;
    padding-top: 2%;
    margin-left: 10%;

}

.r3 {
    font-size: 20px;
    padding-top: 2%;
    margin-left: 10%;
    color: aliceblue;

}

.r2 a {
    text-decoration: none;
    color: aliceblue;
}

.nome {
    display: inline-block;
    font-size: 20px;
    color: aliceblue;
    padding-top: 30px;
    vertical-align: top;
    margin-left: 2%;
}